@import '~@/assets/fontello/css/fontello.css';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');

.f-smaller {
    font-size: 12px;
}
.f-text-highlight {
    font-size: 18px;
    font-weight: 600;
    @include max-notebook {
        font-size: 16px;
    }
}